*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #000000;
}
html{
    font-size: 62.5%; /* 1rem = 10px */ 
    /* overflow-x: hidden; */
}

.navbar{
   height: 8.4rem;
   display: flex;
   justify-content: center;

}

.nav-logo{
   height: 6.7rem;
   width: 19.4rem;
   margin-top: 0.8rem;
   margin-right: 2rem;
   
}

.nav-links{
   text-decoration: none;
   margin-top: 3rem;
   margin-left: 2rem;
   font-size: 1.3rem;
   font-weight: 600;
   margin-right: 2rem;
}

.nav-links:hover{
   color: #00fb00;
   transition: var(--trans,color .4s ease 0s);
}

.nav-social-logos{
   margin-top: 2.8rem;
   margin-left: 2rem;
   height: 2.5rem;
   width: 2.5rem;
   /* margin-right: rem; */
}

.nav-join-buttton{
   margin-left: 4rem;
   background-color: #00fb00;
   height: 5rem;
   border: none;
   font-weight: 600;
   margin-top: 1.3rem;
   width: 15rem;
   height: 5rem;
   font-size: 1.5rem;
   border-radius:4px;
   text-decoration: none;
}

.nav-join-buttton:hover{
   background-color: #000000;
   color: #ffffff;
}

.nav-free-pass-button{
   margin-left: 1rem;
   /* margin-left: 5rem; */
   background-color: #000000;
   color: #ffffff;
   height: 5rem;
   border: none;
   font-weight: 600;
   margin-top: 1.3rem;
   width: 15rem;
   height: 5rem;
   font-size: 1.3rem;
   border-radius:4px;   
}

.nav-free-pass-button:hover{
   background-color: #00fb00;
   color: #000000;
}

header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo{
    position:relative;
    font-size: 2em;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}
header .logo span{
    color: #37d72f;
}
header .toggle{
    max-width: 60px;
    cursor:pointer;
}
header .toggle img{
    max-width: 100%;
}
.banner{
    position:relative;
    width:100%;
    min-height:100vh;
    padding:0 100px;
    background:#111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner:before{
    content:'';
    position: absolute;
    right: 0;
    top:0;
    width:400px;
    height:100%;
    background:#37d72f;
    transform-origin: top;
    transform:skewX(-25deg);
}

.banner .textBox{
    position:relative;
    max-width:600px;
    z-index:2;
}

.banner .textBox h2{
    color:#fff;
    font-size:3em;
}

.banner .textBox p{
    color:#fff;
    font-size:1.1em;
    margin:5px 0 25px;
}

.banner .textBox a{
    position: relative;
    display: inline-block;
    background:#fff;
    color:#111;
    padding:15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 500px;
}

.banner .imgBox{
    position:relative;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    width: 50%;
    z-index:2;
}

.banner .imgBox img{
    position:absolute;
    bottom:0;
    height: 90%;
    z-index: 10000

}
.sci{
    position: absolute;
    bottom:20px;
    letter-spacing:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
}
.sci li a{
    display:inline-block;
    margin-right: 15px;
}
.sci li a img{
    transform: scale(0.5);
    filter: invert(1);
}

@media (max-width: 991px){
    header{
        padding: 20px 50px;
    }
    .banner{
        padding: 150px 50px 0;
        flex-direction:  column;
        overflow:hidden;
    }
    .banner:before{
        width:300px;
        transform: skewX(-25deg)translateX(50%);
    }
    .banner .textBox{
        max-width: 100%;
    }
    .sci{
        z-index: 1000;
        left: initial;
        right: 20px;
        flex-direction: column;

    }
}

footer{
    margin-top: 20px;
}

.foot-panel1{
    background-color: #00fb00;
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.foot-panel2{
    
    height: 300px;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 1.5rem;
    margin-top: 10px;
    
}

.foot-panel3{
   
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo{
    background-image: url(FitnessNGo_logo.webp);
    background-size: cover;
    height: 50px;
    width: 150px;
}


.foot-panel4{
   
    height: 80px;
    font-size: 1.5rem;
    text-align: center;
  
}

.pages{

    padding-top: 25px;
}

.copyright{
 
    padding-top: 5px;

}
